<ion-app>
  <ion-split-pane contentId="main-content" when="lg">
    <ion-menu
      contentId="main-content"
      type="overlay"
      *ngIf="auth.isAuthenticated()"
    >
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Sistema Seguridad</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Perfil del usuario -->
        <div class="user-profile">
          <ion-avatar>
            <ion-icon
              name="person-circle"
              style="font-size: 48px; color: #0f766e"
            ></ion-icon>
          </ion-avatar>
          <div>
            <strong>{{ auth.currentUser?.username || "Usuario" }}</strong>
            <p>Administrador</p>
          </div>
        </div>

        <ion-list lines="none">
          <ion-list-header>Principal</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of principalPages">
            <ion-item
              routerDirection="root"
              [routerLink]="p.url"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>Gestión</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of managementPages">
            <ion-item
              routerDirection="root"
              [routerLink]="p.url"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>Análisis</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of analysisPages">
            <ion-item
              routerDirection="root"
              [routerLink]="p.url"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-toolbar>
          <ion-button
            expand="block"
            fill="clear"
            color="danger"
            (click)="logout()"
          >
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Cerrar sesión
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
