# Base de datos
DATABASE_URL="postgresql://postgres:tu_password@localhost:5432/seguridad_paraiso_verde?schema=public"

# JWT
JWT_SECRET="tu_clave_secreta"
JWT_EXPIRES_IN="8h"

# Servidor
PORT=3000
NODE_ENV="development"

# URL del frontend (para el enlace de notificaciones SSE)
FRONTEND_URL=http://localhost:8100