<ion-content class="register-page" scroll="false">
  <div class="register-background">
    <div class="register-overlay"></div>
    <div class="register-container animate-in">
      <div class="brand">
        <img src="assets/logo.svg" alt="Logo" class="logo" />
        <h1>Crear cuenta</h1>
        <p>Regístrate para acceder al sistema</p>
      </div>

      <form (ngSubmit)="register()" #registerForm="ngForm">
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input
            label="Usuario"
            labelPlacement="stacked"
            [(ngModel)]="username"
            name="username"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input
            label="Contraseña"
            labelPlacement="stacked"
            [(ngModel)]="password"
            name="password"
            type="password"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input
            label="Confirmar contraseña"
            labelPlacement="stacked"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            type="password"
            required
          ></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="loading">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Registrarse</span>
        </ion-button>

        <div class="login-link">
          <span>¿Ya tienes cuenta? </span>
          <a (click)="goToLogin()">Inicia sesión</a>
        </div>
      </form>
    </div>
  </div>
</ion-content>
