<ion-content class="login-page" scroll="false">
  <div class="login-background">
    <div class="login-overlay"></div>
    <div class="login-container animate-in">
      <div class="brand">
        <img src="assets/logo.svg" alt="Logo" class="logo" />
        <h1>Sistema Seguridad</h1>
        <p>Paraíso Verde</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Usuario -->
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input
            label="Usuario"
            labelPlacement="stacked"
            formControlName="username"
            placeholder="Ingresa tu usuario"
          ></ion-input>
        </ion-item>
        <div
          class="error-message"
          *ngIf="username?.invalid && (username?.dirty || username?.touched)"
        >
          <span *ngIf="username?.errors?.['required']"
            >El usuario es obligatorio.</span
          >
          <span *ngIf="username?.errors?.['minlength']"
            >Debe tener al menos 3 caracteres.</span
          >
          <span *ngIf="username?.errors?.['pattern']"
            >Solo se permiten letras y números.</span
          >
        </div>

        <!-- Contraseña -->
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input
            label="Contraseña"
            labelPlacement="stacked"
            formControlName="password"
            type="password"
            placeholder="Ingresa tu contraseña"
          ></ion-input>
        </ion-item>
        <div
          class="error-message"
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <span *ngIf="password?.errors?.['required']"
            >La contraseña es obligatoria.</span
          >
          <span *ngIf="password?.errors?.['minlength']"
            >Debe tener al menos 6 caracteres.</span
          >
          <span *ngIf="password?.errors?.['pattern']"
            >Debe contener al menos una letra y un número.</span
          >
        </div>

        <ion-button
          expand="block"
          type="submit"
          [disabled]="loginForm.invalid || loading"
        >
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Ingresar</span>
        </ion-button>

        <div class="register-link">
          <span>¿No tienes cuenta? </span>
          <a (click)="goToRegister()">Regístrate aquí</a>
        </div>
      </form>
    </div>
  </div>
</ion-content>
