<ion-header>
  <ion-toolbar>
    <ion-title>{{ resident ? "Editar" : "Nuevo" }} residente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <!-- Nombre -->
    <ion-item>
      <ion-label position="floating"> Nombre *</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item
      lines="none"
      *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
    >
      <ion-text color="danger" class="error-text">
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        El nombre solo puede contener letras y espacios.
      </ion-text>
    </ion-item>

    <!-- DNI -->
    <ion-item>
      <ion-label position="floating"> DNI *</ion-label>
      <ion-input formControlName="dni" type="text" maxlength="8"></ion-input>
    </ion-item>
    <ion-item
      lines="none"
      *ngIf="form.get('dni')?.invalid && form.get('dni')?.touched"
    >
      <ion-text color="danger" class="error-text">
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        El DNI debe tener exactamente 8 dígitos numéricos.
      </ion-text>
    </ion-item>

    <!-- Estado -->
    <ion-item>
      <ion-label> Estado</ion-label>
      <ion-select formControlName="status" interface="popover">
        <ion-select-option value="active">Activo</ion-select-option>
        <ion-select-option value="inactive">Inactivo</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botones -->
    <div class="form-actions">
      <ion-button
        fill="clear"
        color="medium"
        (click)="dismiss()"
        expand="block"
      >
        Cancelar
      </ion-button>
      <ion-button
        type="submit"
        [disabled]="form.invalid"
        expand="block"
        shape="round"
      >
        {{ resident ? "Actualizar" : "Crear" }}
      </ion-button>
    </div>
  </form>
</ion-content>
