<ion-header>
  <ion-toolbar>
    <ion-title>{{ resident ? "Editar" : "Nuevo" }} residente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input formControlName="dni"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select formControlName="status">
        <ion-select-option value="active">Activo</ion-select-option>
        <ion-select-option value="inactive">Inactivo</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="form-actions" style="padding: 16px">
      <ion-button fill="clear" color="medium" (click)="dismiss()"
        >Cancelar</ion-button
      >
      <ion-button type="submit" [disabled]="form.invalid">
        {{ resident ? "Actualizar" : "Crear" }}
      </ion-button>
    </div>
  </form>
</ion-content>
